body {margin:0; background:#111; color:#fff; font-family:'Poppins',sans-serif; overflow-x:hidden;}
#imgTxt img {transition: transform 0.3s, opacity 0.5s;}
#imgTxt img:hover {transform:scale(1.05);}
#Txt {font-size:18px; margin-top:10px; text-shadow:0 2px 15px rgba(0,0,0,0.6);}
#typeDiv {font-size:18px;}
#timer b {margin:0 5px; font-size:20px;}
